


    
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="x-extra-large">WF</h1>
                          <h2>Where entrepreneurs thrive.</h2>
                          <p class="lead">
                            Wildfyre is the house of all of our big ideas, strategic plans, most innovative works. The group remains distinguished in their particular brand of experetise and pursuit of individual endeavors.
                          </p>

                          <p class="quote lrg-quote">"you can't afford your best employee..."</p>
              </div>
          </div>
                <!-- /.col-lg-9 -->

                