<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Wildfyre</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Petrona' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" media="all" href="css/motioncss.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/motioncss-widgets.css">
	

	<link rel="stylesheet" type="text/css" media="all" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/rs-settings.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/magnific-popup.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/animation.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/colors/color_11.css">

	<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="js/g-alert.js"></script>
	<script type="text/javascript" src="js/jquery.carousello.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	 
	<script type="text/javascript" src="js/jquery.isotope.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/jquery.parallax.js"></script>
	<script type="text/javascript" src="js/jquery.simpleplaceholder.js"></script>
	<script type="text/javascript" src="js/jquery.smoothScroll.js"></script>
	<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	 
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/waypoints.min.js"></script>
	<script type="text/javascript" src="js/w-lang.js"></script>
	<script type="text/javascript" src="js/w-search.js"></script>
	<script type="text/javascript" src="js/w-tabs.js"></script>
	<script type="text/javascript" src="js/w-timeline.js"></script>
	

</head>
<body class="l-body home">

<!-- CANVAS -->
<div class="l-canvas type_wide col_cont headerpos_fixed headertype_extended">
	<div class="l-canvas-h">

		<!-- HEADER -->
		<div class="l-header">
			<div class="l-header-h">

				<div class="l-subheader at_middle">
					<div class="l-subheader-h i-cf">
					
						<!--

						<div class="w-logo">
							<div class="w-logo-h">
								<a class="w-logo-link" href="index.html">
									<img class="w-logo-img" src="img/wf_logo.png" style="height: 80%; opacity: .75;" alt="WILDFYRE">
									<span class="w-logo-title">
										<span class="w-logo-title-h">WILDFYRE</span>
									</span>
								</a>
							</div>
						</div>
						-->

						<!-- SEARCH -->
						<div class="w-search submit_inside">
							<div class="w-search-h">
								<a class="w-search-show" href="javascript:void(0)"><i class="icon-search"></i></a>
								<form class="w-search-form show_hidden" action="#">
									<div class="w-search-input">
										<input type="text" value="" placeholder="enter the query"/>
									</div>
									<div class="w-search-submit">
										<input type="submit" value="Search" />
										<i class="icon-search"></i>
									</div>
									<a class="w-search-close" href="javascript:void(0)" title="Close search"> &#10005; </a>
								</form>
							</div>
						</div>

						

						<!-- NAV -->
						<nav class="w-nav">
							<div class="w-nav-h">
								<div class="w-nav-control">
									<i class="icon-reorder"></i>
								</div>
								<div class="w-nav-list layout_hor width_auto float_right level_1">
									<div class="w-nav-list-h">
										<div class="w-nav-item level_1 with_sublevel active">
											<div class="w-nav-item-h">
												<a href="index.html" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Companies</span>
													<span class="w-nav-hint"></span>
												</a>
											</div>
										</div>
										<div class="w-nav-item level_1 with_sublevel active">
											<div class="w-nav-item-h">
												<a href="index.html" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Projects</span>
													<span class="w-nav-hint"></span>
												</a>
											</div>
										</div>
										<div class="w-nav-item level_1 with_sublevel active">
											<div class="w-nav-item-h">
												<a href="index.html" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Partners</span>
													<span class="w-nav-hint"></span>
												</a>
											</div>
										</div>
 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="about.html" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Network</span>
													<span class="w-nav-hint"></span>
												</a>
											</div>
										</div>

 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="portfolio-3.html" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Ethos</span>
													<span class="w-nav-hint"></span>
												</a>
											</div>
										</div>
 										
									</div>
								</div>
							</div>
						</nav>

					</div>
				</div>

			</div>
		</div>
		<!-- /HEADER -->

		<!-- MAIN -->
		<div class="l-main">
			<div class="l-main-h">

				<div class="l-submain type_fullwidth border_none">
					<div class="l-submain-h g-html">
						<div class="g-cols">
							<div class="full-width">
							
								<div class="fullwidthbanner-container">
									<div class="fullwidthbanner">
										<ul>
											<li data-transition="fade" data-slotamount="7">
												<img src="img/slides/wf_head.jpg" alt="" />

												<div class="caption sfb"
													 data-x="-70"
													 data-y="90"
													 data-speed="400"
													 data-start="400"
													 data-easing="easeInOutSine">

												<h1 class="wf-logo">WILDFYRE</h1>
												<div class="caption sfb"
													 data-x="200"
													 data-y="290"
													 data-speed="400"
													 data-start="400"
													 data-easing="easeInOutSine">

													<!--
													<button class="g-btn type_secondary size_big" href="#">
													 	<span>
													 		JOIN THE WILDFYRE NETWORK
													 		<i class="icon-chevron-sign-right"></i>
													 	</span>
													</button>
													 
													 <!-- <div class="tile-wrapper">
													 	<div class="slider-tile">
															<i class="typcn typcn-leaf"></i>
															<h5>Design  CODE 	 FINANCE</h5>
															<div class="hr large-1 small-3"></div>
														</div>
														-->
													</div>	
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="l-submain">
					<div class="l-submain-h g-html">
						<div class="page-header pad-bottom text-center">
							<h1 style="text-align: center; letter-spacing: 5px; word-spacing: 5px; font-size: 200%; color: #ccc;">"WE KNOW A LOT ABOUT A LOT"</h1>
							<div class="hr light large-1 small-3"></div>
						</div>
						<div class="g-cols intro-section" style="margin-top: 40px;">
							<div class="one-fourth">
								<h6>FINANCE</h6>
								<p>We are financial wizards. </p>
								<a href="overview_finance.html">
									<img class="center" src="img/icons/v2/64/Keywords & Rankings.png">
								</a>
							</div>
							<div class="one-fourth">
								<h6>CREATIVE</h6>
								<p>We design stuff. </p>
								<a href="overview_creative.html">
									<img class="center" src="img/icons/v2/64/Creative Campaigns.png">
								</a>
							</div>
							<div class="one-fourth">
								<h6>TECHNICAL</h6>
								<p>We build Rails apps.</p>
								<a href="overview_technical.html">
									<img class="center" src="img/icons/v2/64/Responsive Design.png">
								</a>
							</div>
							<div class="one-fourth">
								<h6>STRATEGY</h6>
								<p>We help companies grow.</p>
								<a href="overview_strategy.html">
									<img class="center" src="img/icons/v2/64/SEO Training.png">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /MAIN -->

	</div>
</div>
<!-- /CANVAS -->

<!-- FOOTER -->
<div class="l-footer type_normal">
	<div class="l-footer-h"  style="background: #000;">

		<!-- subfooter: bottom -->
		<div class="l-subfooter at_bottom">
			<div class="l-subfooter-h i-cf">
				<div class="w-copyright"></div>
			</div>
		</div>
	</div>
</div>
<!-- /FOOTER -->

<a class="w-toplink" href="#"><i class="icon-angle-up"></i></a>


</body>
</html>



    
                