%link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/

%script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
%script{src: "/js/g-alert.js", type: "text/javascript"}
%script{src: "/js/jquery.carousello.js", type: "text/javascript"}
%script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
%script{src: "/js/jquery.isotope.js", type: "text/javascript"}
%script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
%script{src: "/js/jquery.parallax.js", type: "text/javascript"}
%script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
%script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
%script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
%script{src: "/js/plugins.js", type: "text/javascript"}
%script{src: "/js/waypoints.min.js", type: "text/javascript"}
%script{src: "/js/w-lang.js", type: "text/javascript"}
%script{src: "/js/w-search.js", type: "text/javascript"}
%script{src: "/js/w-tabs.js", type: "text/javascript"}
%script{src: "/js/w-timeline.js", type: "text/javascript"}

.l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
  .l-canvas-h

    .l-main
      .l-main-h
        .l-submain.type_fullwidth.border_none
          .l-submain-h.g-html
            .g-cols
              .full-width
                .fullwidthbanner-container
                  .fullwidthbanner
                    %ul
                      %li{"data-slotamount" => "7", "data-transition" => "fade"}
                        %img{src: "/img/wf_head.jpg", alt: ""}
                        .caption.sfb{"data-easing" => "easeInOutSine", "data-speed" => "400", "data-start" => "400", "data-x" => "-70", "data-y"=> "90"}
                          %h1.wf-logo WILDFYRE
                          .caption.sfb{"data-easing" => "easeInOutSine", "data-speed" => "400", "data-start" => "400", "data-x" => "200", "data-y" => "290"}
                            /
                              <button class="g-btn type_secondary size_big" href="#">
                              <span>
                              JOIN THE WILDFYRE NETWORK
                              <i class="icon-chevron-sign-right"></i>
                              </span>
                              </button>
                              
                              <!-- <div class="tile-wrapper">
                              <div class="slider-tile">
                              <i class="typcn typcn-leaf"></i>
                              <h5>Design  CODE 	 FINANCE</h5>
                              <div class="hr large-1 small-3"></div>
                              </div>

        .l-submain
          .l-submain-h.g-html
            .page-header.pad-bottom.text-center
              %h1{style: "text-align: center; letter-spacing: 5px; word-spacing: 5px; font-size: 200%; color: #ccc;"} "WE KNOW A LOT ABOUT A LOT"
              .hr.light.large-1.small-3
            .g-cols.intro-section{style: "margin-top: 40px;"}
              .one-fourth
                %h6 FINANCE
                %p We are financial wizards.
                = image_tag("/img/icons/V2/64/Keywords & Rankings.png", class: "center")
                /=link_to image_tag("/img/icons/V2/64/Keywords & Rankings.png", class: "center"), creative_path
              .one-fourth
                %h6 CREATIVE
                %p We design stuff.
                =image_tag("/img/icons/V2/64/Creative Campaigns.png", class: "center")
                /=link_to image_tag("/img/icons/V2/64/Creative Campaigns.png", class: "center"), creative_path
              .one-fourth
                %h6 TECHNICAL
                %p We build Rails apps.
                =image_tag("/img/icons/V2/64/Responsive Design.png", class: "center")
                /=link_to image_tag("/img/icons/V2/64/Responsive Design.png", class: "center"), technical_path
              .one-fourth
                %h6 STRATEGY
                %p We help companies grow.
                =image_tag("/img/icons/V2/64/SEO Training.png", class: "center")
                /=link_to image_tag("/img/icons/V2/64/SEO Training.png", class: "center"), strategy_path
    / /MAIN
  / /CANVAS
  / FOOTER
  .l-footer.type_normal
  .l-footer-h{style: "background: #000;"}
    / subfooter: bottom
    .l-subfooter.at_bottom
      .l-subfooter-h.i-cf
        .w-copyright
  / /FOOTER
  %a.w-toplink{href: "#"}
  %i.icon-angle-up