

    
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="extra-large">wf-A</h1>
                          <h2>Advisory & Consulting.</h3>
                          <p class="lead">
                            Our expertise and high-quality work product is frequently requested for-hire. Let us know if you need help witH anything.
                          </p>
                          <ul class="breadcrumb">
                              <li><a href="#">BREAD & BUTTER</a></li> 
                              <li><a href="#">CURRENT WORK</a></li>
                              <li><a href="#">PAST WORK</a></li>
                          </ul>

                          <p class="quote lrg-quote">"I know a lot about a lot..."</p>
              </div>
          </div>
                <!-- /.col-lg-9 -->
