
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="extra-large">wfCo</h1>
                          <h2>The Companies.</h3>
                          <p class="lead">
                            The group is comprised of a collection of assets that house the collective's various start-up ventures, intellecutal property, partnerships and other business interests.
                          </p>

                          <p class="quote lrg-quote">"I know a lot about a lot..."</p>
              </div>
          </div>
                <!-- /.col-lg-9 -->

                