
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="extra-large">Csfld</h1>
                          <p class="lead">
                            Cordis Stanfield is a financial wizard who doubles as a creative engineer. He's an objective-kind-of guy who shuns half-truths and the unecessary use of caluclators. He has a black belt in flash cards and is the king of contradictory statements that still make a lot of sense. It wasn't his plan to be the man, it just happened and he's embracing it one day at a time.
                          </p>

                          <p class="quote lrg-quote">"I know a lot about a lot..."</p>
              </div>
          </div>
                