%link{href: "css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/

%script{src: "assets/jquery-1.9.1.js", type: "text/javascript"}
%script{src: "assets/g-alert.js", type: "text/javascript"}
%script{src: "assets/jquery.carousello.js", type: "text/javascript"}
%script{src: "assets/jquery.flexslider.js", type: "text/javascript"}
%script{src: "assets/jquery.isotope.js", type: "text/javascript"}
%script{src: "assets/jquery.magnific-popup.js", type: "text/javascript"}
%script{src: "assets/jquery.parallax.js", type: "text/javascript"}
%script{src: "assets/jquery.simpleplaceholder.js", type: "text/javascript"}
%script{src: "assets/jquery.smoothScroll.js", type: "text/javascript"}
%script{src: "assets/jquery.themepunch.revolution.min.js", type: "text/javascript"}
%script{src: "assets/plugins.js", type: "text/javascript"}
%script{src: "assets/waypoints.min.js", type: "text/javascript"}
%script{src: "assets/w-lang.js", type: "text/javascript"}
%script{src: "assets/w-search.js", type: "text/javascript"}
%script{src: "assets/w-tabs.js", type: "text/javascript"}
%script{src: "assets/w-timeline.js", type: "text/javascript"}

.l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
  .l-canvas-h
    / MAIN

    .l-main
      .l-main-h

        .l-submain.type_fullwidth.border_none
          .l-submain-h.g-html
            .g-cols
              .full-width
                .fullwidthbanner-container.condensed
                  .fullwidthbanner
                    %ul
                      %li{"data-slotamount" => "7", "data-transition" => "fade"}
                        =image_tag  "wf_head.jpg", alt: ""
                        .caption.sfb{"data-easing" => "easeInOutSine", "data-speed" => "400", "data-start" => "400", "data-x" => "-70", "data-y" => "0"}
                          %h1.wf-logo WILDFYRE
        .l-submain
          .l-submain-h.g-html
            .page-header.pad-bottom.text-center
              .box-heading
                INVESTMENT BANKING/VC/PE/CAPITAL MARKETS/ASSET MGMT/OPS
              %h1{style: "text-align: center;"} FINANCIAL WIZARDRY
              .hr.large-1.small-3
            .g-cols
              .one-third
                %h6 PIGSTY
                %p We turn pigsties into piggy banks. We give your financials an oink-ment.
              .two-thirds
                %p.quote
                  It is a kind of spiritual snobbery that makes people think they can be happy without money.
          .g-hr.type_long
            %span.g-hr-h
              %i.icon-arrow-down
          #parallax_section.l-submain.color_primary.with_parallax{style: "background-image: url(image_path('morgan-stanley.jpg'));"}
            .l-submain-h.g-html
              %h2{style: "text-align: center;"}
                %br/
              %p{style: "text-align: center;"}
          :javascript
            jQuery(window).load(function(){ jQuery('#parallax_section').parallax('50%', '0.4'); });
          .l-submain{style: "padding-bottom: 0; border-top: none"}
            .l-submain-h.g-html.i-cf
              .page-header.pad-bottom.text-center
                %h1{style: "text-align: center; letter-spacing: 5px; word-spacing: 5px; font-size: 200%; color: #ccc;"} "WHY PEOPLE HIRE US"
                .hr.light.large-1.small-3
              .g-cols
                .one-third
                  %h4
                    what we do
                .one-third
                  %h6 CHILD'S PLAY
                  %p We crunch numbers with ease. To us, gawdy financial models are similar to picture books...child's play.
                .one-third
                  %h6 TEACHER'S PET
                  %p We have a CFA charterholder and tutor trained to breakdown the difficult finance so that you can follow along. Bring the apple.
          .l-submain-h.g-html.i-cf
            .g-cols
              .one-third
                Testimonials
              .two-thirds
                .animate_wfc
                  .w-timeline
                    .w-timeline-h
                      .w-timeline-list
                        .w-timeline-list-h
                          .g-hr.type_short
                            %span.g-hr-h
                              %i.icon-reorder
                          .w-timeline-item.active
                            %span.w-timeline-item-bullet
                            =image_tag "icon_affiliate-marketing_v1_64.png"
                            %h6 FINANCIAL MODELING
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            =image_tag "icon_keywords-and-rankings_v1_64.png", style: "height: 40%; width: 60px;"
                            %h6 FINANCIAL ANALYSIS
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            =image_tag "icon_target-keywords_v1_64.png"
                            %h6 INVESTMENT EVALUATIONS
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            =image_tag "icon_return-on-investment_v1_64.png"
                            %h6 ASSET MANAGEMENT
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            =image_tag "icon_conversion-optimization_v1_64.png"
                            %h6 PORTFOLIO ANALYSIS
                      .w-timeline-sections
                        .w-timeline-section.active.animate_afr
                          .w-timeline-section-h
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 FINANCIAL MODELING
                                  %p Real world financial models to discover the story.
                                  %ul
                                    %li Business Valuation
                                    %li Capital Budgeting
                                    %li Project Finance
                                    %li Stategic/Decision Tree Model
                                    %li Forecasting
                                .one-third
                                  =image_tag "540x320.gif"
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "#"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2010
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 FINANCIAL ANALYSIS
                                  %p A deep dive into the pool of numbers. 'We'll get to bottom of it.'
                                  %ul
                                    %li Financial Statement Review
                                    %li Macro-economic Analysis
                                    %li Profitability
                                    %li Solvency
                                    %li Liquidity
                                .one-third
                                  =image_tag "540x320.gif"
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "#"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2011
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 INVESTMENT EVALUATIONS
                                  %p Considering new opportunities? We can help.
                                  %ul
                                    %li ROI, NPV, Breakeven Analysis
                                    %li Due Diligence
                                    %li Opportunity Cost of Capital
                                    %li Exit Modeling & Plan
                                    %li Landscape Survey
                                .one-third
                                  =image_tag "540x320.gif"
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "#"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2012
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 ASSET MANAGEMENT
                                  %p A bank account is a torture chamber for cash. Investment Advisory services helps cash stockpile.
                                  %ul
                                    %li Fixed Income
                                    %li Equities
                                    %li Alternatives
                                    %li Real Estate
                                    %li Forex
                                .one-third
                                  =image_tag "540x320.gif"
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "#"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2013
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 PORTFOLIO ANALYSIS
                                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                                  %ul
                                    %li Returns Analysis
                                    %li Investment "ft" review
                                    %li Due Diligence
                                    %li Exit Modelling
                                    %li Company appraisal
                                .one-third
                                  =image_tag "540x320.gif"
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "#"}
                                      %span HIRE US
          .l-submain
            .l-submain-h.g-html
              .page-header.pad-bottom.text-center
                .box-heading
                  WE KNOW A LOT... WE DO A LOT
                %h1{style: "text-align: center;"} HIRE US
                .hr.large-1.small-3
              .g-cols
                .one-third
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur autem
                    dicta doloremque eaque eum, facilis maxime, pariatur reiciendis rem saepe ullam
                    ut voluptate, voluptates.
                .one-third
                  %p
                    At delectus doloremque dolores explicabo laudantium minima qui. Animi aperiam
                    aspernatur atque debitis distinctio impedit inventore iure labore modi omnis,
                    optio rerum ut veritatis voluptatum?
                .one-third
                  %p
                    Accusamus et hic inventore iure iusto modi reprehenderit soluta. Aliquam,
                    assumenda at consequuntur cumque, enim, explicabo iusto libero maiores nisi
                    numquam odio porro praesentium quis.
  / /MAIN
/ /CANVAS
