
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="extra-large">Kcoa</h1>
                          <p class="lead">
                            Khadijah Coakley is an architect. She designs the structure around ideas. She started out as banker and somewhere along the line converted to a passion-driven creative. She is hungry for details and enlightenment. She has always wanted to be better at math and feels embarrassed while calculating tips with her iphone. She doesn't require much sleep and loves training of all sorts.
                          </p>

                          <p class="quote lrg-quote">"I know a lot about a lot..."</p>
              </div>
          </div>
                