
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="extra-large">wf-N</h1>
                          <h2>The Network.</h2>
                          <p class="lead">
                            A utility-driven colloboration platform for high-calibur entreprenuers.
                          </p>
                          <ul class="breadcrumb">
                              <li><a href="#">GET INVITED</a></li> 
                              <li><a href="#">SERVICE PROVIDERS</a></li>
                          </ul>
                          <p class="quote lrg-quote">"I know a lot about a lot..."</p>
              </div>
          </div>
                <!-- /.col-lg-9 -->

                