<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="extra-large">cPro</h1>
                          <h2>Collective Projects.</h3>
                          <p class="lead">
                            Wildfyre is a collective of pseudo serial entrepreneurs. As such, the idea-generation process never stops. The company currently has one new release slated for 2012, and two re-releases and five or so big ideas in que for next year.
                          </p>

                          <p class="quote lrg-quote">"I know a lot about a lot..."</p>
              </div>
          </div>
                <!-- /.col-lg-9 -->

               