
            <div class="col-lg-8">
              <div class="col-lg-11">
                          <h1 class="extra-large">wf-R</h1>
                          <h2>Real Estate.</h2>
                          <p class="lead">
                            We like real estate.
                          </p>
                          <ul class="breadcrumb">
                              <li><a href="#">INTERESTS</a></li> 
                              <li><a href="#">ADVISORY</a></li>
                              <li><a href="#">INVESTMENT ATTITUDE & OUTLOOK</a></li>
                          </ul>
                          <p class="quote lrg-quote">"I know a lot about a lot..."</p>
              </div>
          </div>
                