
  <div class="col-lg-8">
    <div class="col-lg-11">
                <h1 class="extra-large">wf</h1>
                <h2>The Start-Ups.</h2>
                <p class="lead">
                  At our core, we are a tech start-up company, an idea engine. Wildfyre is the house of all of our big ideas, strategic plans, most innovative works...
                </p>
                <ul class="breadcrumb">
                    <li><a href="#">IN DEVELOPMENT</a></li> 
                    <li><a href="#">NEXT UP</a></li>
                    <li><a href="#">DEVELOPERS, ENGINEERS & CREATIVES</a></li>
                </ul>
                <p class="quote lrg-quote">"I know a lot about a lot..."</p>
    </div>
</div>
