%link{href: "css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/

%script{src: "assets/jquery-1.9.1.js", type: "text/javascript"}
%script{src: "assets/g-alert.js", type: "text/javascript"}
%script{src: "assets/jquery.carousello.js", type: "text/javascript"}
%script{src: "assets/jquery.flexslider.js", type: "text/javascript"}
%script{src: "assets/jquery.isotope.js", type: "text/javascript"}
%script{src: "assets/jquery.magnific-popup.js", type: "text/javascript"}
%script{src: "assets/jquery.parallax.js", type: "text/javascript"}
%script{src: "assets/jquery.simpleplaceholder.js", type: "text/javascript"}
%script{src: "assets/jquery.smoothScroll.js", type: "text/javascript"}
%script{src: "assets/jquery.themepunch.revolution.min.js", type: "text/javascript"}
%script{src: "assets/plugins.js", type: "text/javascript"}
%script{src: "assets/waypoints.min.js", type: "text/javascript"}
%script{src: "assets/w-lang.js", type: "text/javascript"}
%script{src: "assets/w-search.js", type: "text/javascript"}
%script{src: "assets/w-tabs.js", type: "text/javascript"}
%script{src: "assets/w-timeline.js", type: "text/javascript"}

.l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
  .l-canvas-h
    / MAIN

    .l-main
      .l-main-h

        .l-submain.type_fullwidth.border_none
          .l-submain-h.g-html
            .g-cols
              .full-width
                .fullwidthbanner-container.condensed
                  .fullwidthbanner
                    %ul
                      %li{"data-slotamount" => "7", "data-transition" => "fade"}
                        =image_tag  "slides/wf_head.jpg", alt: ""
                        .caption.sfb{"data-easing" => "easeInOutSine", "data-speed" => "400", "data-start" => "400", "data-x" => "-70", "data-y" => "0"}
                          %h1.wf-logo WILDFYRE
        .l-submain
          .l-submain-h.g-html
            .page-header.pad-bottom.text-center
              .box-heading
                WEB/MOBILE/SOFTWARE/DATABASES/SYSTEMS/IT
              %h1{style: "text-align: center;"} TECHNICAL FLUENCY
              .hr.large-1.small-3
            .g-cols
              .one-third
                %h6 Bun in the Oven
                %p Get in bed with us, get kinky, fool around, and we can produce beautiful little websites.
              .two-thirds
                %p.quote
                  "A good programmer is someone who looks both ways before crossing a one-way street." - D. Linder
          .g-hr.type_long
            %span.g-hr-h
              %i.icon-arrow-down
          #parallax_section.l-submain.color_primary.with_parallax{style: "background-image: url(assets/morgan-stanley.jpg);"}
            .l-submain-h.g-html
              %h2{style: "text-align: center;"}
                %br/
              %p{style: "text-align: center;"}
          :javascript
            jQuery(window).load(function(){ jQuery('#parallax_section').parallax('50%', '0.4'); });
        
        .l-submain{style: "padding-bottom: 0; border-top: none"}
          .l-submain-h.g-html.i-cf
            .page-header.pad-bottom.text-center
              %h1{style: "text-align: center; letter-spacing: 5px; word-spacing: 5px; font-size: 200%; color: #ccc;"} "WHY PEOPLE HIRE US"
              .hr.light.large-1.small-3
            .g-cols
              .one-third
                %h4
                  what we do
              .one-third
                %h6 GAME OF DARTS
                %p Each project has a focus and an aim. Our target, or bullseye, for each development gig is to create a fun and professional environment.
              .one-third
                %h6 TANK TOPS
                %p We get our hands dirty. So dirty that rolling up 'our sleeves' isn't good enough. We get into the weeds with systems administration, data handling, and intense programming.
          .l-submain-h.g-html.i-cf
            .g-cols
              .one-third
                Testimonials
              .two-thirds
                .animate_wfc
                  .w-timeline
                    .w-timeline-h
                      .w-timeline-list
                        .w-timeline-list-h
                          .g-hr.type_short
                            %span.g-hr-h
                              %i.icon-reorder
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                              %img{alt: "Tit 1", src: "assets/icons/V1/64/Responsive Design.png"}/
                            %h6 WEB/MOBILE DEVELOPMENT
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            %img{alt: "Tit 1", src: "assets/icons/V1/64/Social Media Cloud.png"}/
                            %h6 SYSTEMS ADMIN
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            %img{alt: "Tit 1", src: "assets/icons/V1/64/Services Packages.png"}/
                            %h6 Third-Party Integrations
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            %img{alt: "Tit 1", src: "assets/icons/V1/64/E-Mail Marketing.png"}/
                            %h6 E-mail marketing
                          .w-timeline-item
                            %span.w-timeline-item-bullet
                            %img{alt: "Tit 1", src: "assets/icons/V1/64/Local SEO.png"}/
                            %h6 SEO OPTIMIZATION
                      .w-timeline-sections
                        .w-timeline-section.active.animate_afr
                          .w-timeline-section-h
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 WEB/MOBILE DEVELOPMENT
                                  %p We're passionate about making apps that work.
                                  %ul
                                    %li Ruby on Rails, PHP, Javacript, JQuery, HTML5, CSS3
                                    %li i0S/Android Mobile
                                    %li Wordpress
                                    %li SQL
                                    %li Test Driven Development (TDD)
                                .one-third
                                  %img{alt: "", src: "assets/placeholder/540x320.gif"}/
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "portfolio-3.html"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2010
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 SYSTEMS ADMIN
                                  %p ...someone has to do it.
                                  %ul
                                    %li Amazon Elastic Compute Cloud (EC2)
                                    %li Heroku
                                    %li IT Security
                                    %li Network & Server Installation and Maintenance
                                    %li Hardware & Software Installation and Maintenance
                                .one-third
                                  %img{alt: "", src: "assets/placeholder/540x320.gif"}/
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "portfolio-3.html"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2011
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 THIRD-PARTY INTEGRATIONS
                                  %p We connect you to third party products that you performance more effficiently.
                                  %ul
                                    %li RESTful APIs
                                    %li Point-of-Sale (POS) Integration
                                    %li Payment Processing (Paypal, Stripe, Recurly, Authorize.net)
                                    %li Form Building & Lead Capture
                                    %li Customer Relationship Management System
                                .one-third
                                  %img{alt: "", src: "assets/placeholder/540x320.gif"}/
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "portfolio-3.html"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2012
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 E-MAIL MARKETING
                                  %p Use warm contacts to prevent a cold business.
                                  %ul
                                    %li Campaign Analytics
                                    %li Email List Building
                                    %li Customer Loyalty Programs
                                    %li ROI tracking
                                    %li Drive Repeat Business
                                .one-third
                                  %img{alt: "", src: "assets/placeholder/540x320.gif"}/
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "portfolio-3.html"}
                                      %span HIRE US
                        .w-timeline-section
                          .w-timeline-section-h
                            .w-timeline-section-title
                              %span.w-timeline-section-title-bullet
                              %span.w-timeline-section-title-text 2013
                            .w-timeline-section-content
                              .g-cols
                                .two-thirds
                                  %h4 SEO OPTIMIZATION
                                  %p We help your clients find you, you do the rest.
                                  %ul
                                    %li Search Engine Optimization
                                    %li Social Media Marketing
                                    %li Affiliate Marketing
                                    %li Search Analytics
                                    %li Keyword Content Generation
                                .one-third
                                  %img{alt: "", src: "assets/placeholder/540x320.gif"}/
                                  %p{style: "text-align: center;"}
                                    %a.g-btn.type_outline{href: "portfolio-3.html"}
                                      %span HIRE US
          .l-submain
            .l-submain-h.g-html
              .page-header.pad-bottom.text-center
                .box-heading
                  WE KNOW A LOT... WE DO A LOT
                %h1{style: "text-align: center;"} HIRE US
                .hr.large-1.small-3
              .g-cols
                .one-third
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur autem
                    dicta doloremque eaque eum, facilis maxime, pariatur reiciendis rem saepe ullam
                    ut voluptate, voluptates.
                .one-third
                  %p
                    At delectus doloremque dolores explicabo laudantium minima qui. Animi aperiam
                    aspernatur atque debitis distinctio impedit inventore iure labore modi omnis,
                    optio rerum ut veritatis voluptatum?
                .one-third
                  %p
                    Accusamus et hic inventore iure iusto modi reprehenderit soluta. Aliquam,
                    assumenda at consequuntur cumque, enim, explicabo iusto libero maiores nisi
                    numquam odio porro praesentium quis.
  / /MAIN
/ /CANVAS
