
  <div class="col-lg-8">
    <div class="col-lg-11">
                <h1 class="extra-large">wf-V</h1>
                <h2>Ventuurs.</h2>
                <p class="lead">
                  Our venture capital vertical that actively pursues, evalutates, and engages in various early stage opporutnities.
                </p>
                <ul class="breadcrumb">
                    <li><a href="#">INVESTMENT THESIS</a></li> 
                    <li><a href="#">CAPITAL RAISING</a></li>
                    <li><a href="#">INVESTMENT PORTFOLIO</a></li>
                </ul>
                <p class="quote lrg-quote">"I know a lot about a lot..."</p>
    </div>
</div>