  <div class="col-lg-8 main_content">
    <div class="col-lg-11">
                <h3>wf-E</h3>
                <h2>Edit your contact.</h2>
                <p class="lead">Amend Contact Deets...</p>
               
                 
			  <%= render 'form' %>
                    
    </div>
</div>
      <!-- /.col-lg-9 -->
