
            <div class="col-lg-8 main_content">
              <div class="col-lg-11">
                          <h3>wf-N</h3>
                          <h2>Add a new contact.</h2>
                          <p class="lead">Enter Contact Deets...</p>
                         
                           
						  <%= render 'form' %>
                              
              </div>
          </div>
                <!-- /.col-lg-9 -->

    