  <div class="col-lg-8 main_content">
    <div class="col-lg-11">
                <h3>cPro</h3>
                <h2>Need to make a change? Edit your project.</h2>
                <p class="lead">Amend the Project Deets...</p>
               
                    <div class="form-group">
						<%= render 'form' %>
                   
    </div>
</div>
      <!-- /.col-lg-9 -->
	  