
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>It's Wildfyre.</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap-overrides.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">WILDFYRE</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#contact">Hey, Khadijah</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row">
            <div class="col-lg-2">
                <div class="sidebar affix">
                      <aside>
                        <h4>wfg</h4>
                        <h4>WF Collective</h4>
                          <ul class="nav">
                            <li><a href="wildfyre-companies.html">Companies</a></li>
                            <li><a href="wildfyre-projects.html">Projects</a></li>
                            <li><a href="wildfyre-partners.html">Parnters</a></li>
                            <li><a href="wildfyre-network.html">Network</a></li>
                            <li><a href="wildfyre-ethos.html">Ethos</a></li>
                          </ul>
                      </aside>
                       <aside>
                        <h5>Profile</h5>
                        <ul class="nav">
                          <li><a href="#">My Profile</a></li>
                          <li><a href="#">Edit Profile</a></li>
                        </ul>
                        <br/>
                        <h5>Projects.</h5>
                        <ul class="nav">
                          <li><a href="#">Create Project</a></li>
                          <li><a href="#">View Projects</a></li>
                        </ul>
                        <br/>
                        <h5>Contacts.</h5>
                          <ul class="nav">
                            <li><a href="#">Create Contact</a></li>
                            <li><a href="#">View Contacts</a></li>
                          </ul>
                        <br/>
                        <ul class="nav">
                          <li><a href="#">Logout</a></li>
                        </ul>
                  </aside>
                </div>
            </div>
            <div class="col-lg-8 main_content">
              <div class="col-lg-11 show">
                          <div class="section-header">
                            <h3>cPro</h3>
                            <h1>CoreHero</h1>
                            <p class="lead">CoreHero is a fitness consulting website that will mainly be used as an ecommerce and content platform for fitness bootcamps and maybe down the line, delivering workouts and other products for online audiences.</p>
                          </div>
                          <div class="section-header">
                            <h4>Stats</h4>
                          </div>
                          <div class="row">
                          <div class="project_info">
                                  <div class="col-lg-3">
                                      <h6>Category</h6>
                                      <h1>Design</h1>
                                  </div>
                                  <div class="col-lg-3">
                                      <h6>Status</h6>
                                      <h1 class="success">Active</h1>
                                  </div>
                                  <div class="col-lg-3">
                                      <h6>Budget</h6>
                                      <h1>$1k</h1>
                                  </div>
                                  <div class="col-lg-3">
                                      <h6>Open date</h6>
                                      <h1>8.7.13</h1>
                                  </div>
                            </div>
                          </div>

                          <div class="section-header">
                            <h4>Client</h4>
                          </div>
                          <div class="details">
                              <div class="row">
                                    <div class="col-lg-3  user_headshot">
                                        <img class="img-circle" src="img/cordis_headshot_lg.jpg" alt="" />
                                    </div>
                                    <div class="client_contact_info col-lg-9">
                                          <div class="row">
                                                <div class="pull-left">
                                                    <h3>Cordis "Tooney" Stanfield</h3>
                                                    <h4>Rails Developer, CFA,  CO-Founder</h4>
                                                </div>
                                                <div class="pull-right company">
                                                    <h6>Company</h6>
                                                    <h4>Wildfyre</h4>
                                                </div>
                                          </div>
                                          <div class="row contact_details">
                                              <div class="pull-left">
                                                  <h6>Location</h6>
                                                  <h5>DC</h5>
                                              </div>
                                              <div class="pull-left">
                                                  <h6>Phone</h6>
                                                  <h5>443.799.8526</h5>
                                              </div>
                                              <div class="pull-left">
                                                  <h6>E-mail</h6>
                                                  <h5>cordis.stanfield@gmail.com</h5>
                                              </div>
                                              <div class="pull-left">
                                                  <h6>Website</h6>
                                                  <h5>makeitnasty.com</h5>
                                              </div>
                                          </div>
                                    </div>
                              </div>

                          <div class="section-header">
                            <h4>Notes</h4>
                          </div>
                          <div class="notes special_request">
                              <h5>Special Request</h5>
                              <div class="well well-lg">Don't hate on me...</div>
                          </div>
                          <div class="notes budget_notes">
                              <h5>Project Budget</h5>
                              <div class="well well-lg">Umm...i'm kinda tight this month...can we arrange something?</div>
                          </div>
                          <div class="section-header">
                            <h4>Files</h4>
                          </div>

                          <div class="section-header">
                            <h4>Team</h4>
                          </div>

                          <div id="comments">
                                <div class="section-header">
                                <h4>Comments</h4>
                                </div>
                              
                                <div class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg">
                                      <h6>C. Stanfield</h6>
                                    </a>
                                    <div class="media-body">
                                      <h4 class="media-heading timestamp">8/5/13 at 5:59 PM</h4>
                                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                          <div class="media response">
                                              <a class="pull-left" href="#">
                                                <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_khadijah.jpg">
                                                <h6>K. Coakley</h6>
                                              </a>
                                              <div class="media-body">
                                                <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                              </div>
                                          </div>
                                  </div>
                              </div>
                               <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg">
                                  <h6>C. Stanfield</h6>
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                          <div class="media response">
                                              <a class="pull-left" href="#">
                                                <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_khadijah.jpg">
                                                <h6>K. Coakley</h6>
                                              </a>
                                              <div class="media-body">
                                                <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                              </div>
                                          </div>
                                </div>
                              </div>
                               <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_khadijah.jpg">
                                  <h6>K. Coakley</h6>
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading timestamp">8/5/13 at 3:17 PM</h4>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                          <div class="media response">
                                              <a class="pull-left" href="#">
                                                <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg">
                                                <h6>C. Stanfield</h6>
                                              </a>
                                              <div class="media-body">
                                                <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                              </div>
                                          </div>
                                          <div class="media response">
                                              <a class="pull-left" href="#">
                                                <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_khadijah.jpg">
                                                <h6>K. Coakley</h6>
                                              </a>
                                              <div class="media-body">
                                                <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                              </div>
                                          </div>
                                          <div class="media response">
                                              <a class="pull-left" href="#">
                                                <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg">
                                                <h6>C. Stanfield</h6>
                                              </a>
                                              <div class="media-body">
                                                <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                              </div>
                                          </div>
                                </div>
                              </div>
                              <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_khadijah.jpg">
                                  <h6>K. Coakley</h6>
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading timestamp">8/7/13 at 5:59 PM</h4>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                                          <div class="media response">
                                              <a class="pull-left" href="#">
                                                <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg">
                                                <h6>C. Stanfield</h6>
                                              </a>
                                              <div class="media-body">
                                                <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                              </div>
                                          </div>
                                </div>
                              </div>
                              <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg">
                                  <h6>C. Stanfield</h6>
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading timestamp">8/5/13 at 5:59 PM</h4>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                              </div>
                               <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg">
                                  <h6>C. Stanfield</h6>
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading timestamp">8/1/13 at 1:03 AM</h4>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                </div>
                              </div>

                        </div>

                          
                    </div>
              </div>
          </div>
                <!-- /.col-lg-9 -->

                <div class="col-lg-2 right-nav profile_summary">
                            <img class="img-circle headshot" src="img/headshot_khadijah.jpg" alt="" />
                            <h5>Khadijah Coakley</h5>
                </div>

        </div>
        <!-- /.row-fluid -->
        </div>
        <!-- /.container -->
       
  </body>
</html>