<h4>wfCo</h4>
<h4>Companies</h4>
  <ul class="nav">

<li><%= link_to "Start-up Machine", start_up_path %></li>
<li><%= link_to "Ventures", ventures_path %></li>
<li><%= link_to "Advisory", advisory_path %></li>
<li><%= link_to "Real Estate", real_estate_path %></li>
 </ul>