/ FOOTER
.l-footer.type_normal
.l-footer-h{style: "background: #000;"}
  / subfooter: top
  .l-subfooter.at_top{style: "background: #f5f5f5; border-top: none;"}
    .l-subfooter-h.g-cols.cols_fluid
      .two-thirds
        .widget
          %h6 WILDFYRE
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit
            = succeed "." do
              %a{href: "#"} amet fermentum
      .one-third
        .widget
          %h6 Contact
          .w-contacts
            .w-contacts-h
              .w-contacts-list
                .w-contacts-item.for_address
                  %i.icon-location
                  %span.w-contacts-item-name Locale:
                  %span.w-contacts-item-value WASHINGTON DC / AUSTIN TX
                .w-contacts-item.for_phone
                  %i.icon-mobile
                  %span.w-contacts-item-name Phone:
                  %span.w-contacts-item-value
                    %span 855 233 2345
                .w-contacts-item.for_email
                  %i.icon-mail
                  %span.w-contacts-item-name Email:
                  %span.w-contacts-item-value
                    %a{href: "mailto:info@example.com"} info@wildfyre.com
        .widget
          .w-socials.size_normal
            .w-socials-h
              .w-socials-list
                .w-socials-item.facebook
                  %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                    %i.icon-facebook
                  .w-socials-item-popup
                    .w-socials-item-popup-h
                      %span.w-socials-item-popup-text Facebook
                .w-socials-item.twitter
                  %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                    %i.icon-twitter
                  .w-socials-item-popup
                    .w-socials-item-popup-h
                      %span.w-socials-item-popup-text Twitter
                .w-socials-item.gplus
                  %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                    %i.icon-google-plus
                  .w-socials-item-popup
                    .w-socials-item-popup-h
                      %span.w-socials-item-popup-text Google
/ /FOOTER
%a.w-toplink{href: "#"}
%i.icon-angle-up