                <div class="col-lg-2 right-nav profile_summary">
                            <img class="img-circle headshot" src="img/headshot_khadijah.jpg" alt="" />
                            <h5>Khadijah Coakley</h5>
                </div>

        </div>
        <!-- /.row-fluid -->
        </div>
        <!-- /.container -->
       
  </body>
</html>
